body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

header {
  color: white;
  background-color: rgb(67, 157, 133);
  display: flex;
  justify-content: center;
}
header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 85vw;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
}

#best-movie-section {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  width: 100vw;
}
#best-movie-section #best-movie-cover img {
  object-fit: contain;
  width: 100%;
  height: 20em;
}
#best-movie-section #best-movie {
  width: 40vw;
  padding: 1em 2em;
}
#best-movie-section #best-movie #best-movie-title {
  padding: 0;
}
#best-movie-section #best-movie #best-movie-details {
  margin: 1em 0 2em 0;
}
#best-movie-section #best-movie #best-movie-details #best-movie-genre {
  margin-bottom: 1em;
  font-style: italic;
  font-size: 1.2em;
}
#best-movie-section #best-movie #best-movie-btn {
  background-color: rgb(67, 157, 133);
  padding: 0.5em;
  color: white;
  font-size: 1.1em;
  border-radius: 0.5em;
}

#movie-categories .movie-category {
  padding: 1em;
}
#movie-categories .movie-category .carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  background: none;
  padding: 0 3em;
}
#movie-categories .movie-category .carousel-container .carousel-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
}
#movie-categories .movie-category .carousel-container .carousel-btnWrapper {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}
#movie-categories .movie-category .carousel-container .carousel-btnWrapper button {
  background-color: black;
  color: white;
  font-size: 2em;
  width: 2em;
  padding-bottom: 10px;
  vertical-align: middle;
  z-index: 2;
}

#modal-container {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}
#modal-container #modal {
  width: 80em;
  max-width: 100vw;
  height: 40em;
  background-color: black;
  border: 5px solid;
  border-radius: 0.5em;
  border-color: rgb(67, 157, 133);
  display: flex;
  position: relative;
}
#modal-container #modal #modal-closeBtn {
  background-color: rgb(67, 157, 133);
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.2em 0.5em;
  margin: 1em;
  color: white;
  font-size: 1.3em;
  border-radius: 0.2em;
}
#modal-container #modal #modal-cover {
  width: 30%;
  padding: 5em;
}
#modal-container #modal #modal-cover img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#modal-container #modal #modal-details {
  width: 65%;
  list-style: none;
  padding: 2.5em 3em 0 0;
}
#modal-container #modal #modal-details #details-description {
  max-height: 10em;
  overflow-y: scroll;
}
#modal-container #modal #modal-details li {
  margin: 0.5em 0;
}
#modal-container #modal #modal-details .modal-subtitle {
  color: rgb(150, 224, 205);
  font-weight: 900;
}

/*# sourceMappingURL=style.css.map */
